*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color:  #343233;
}
.container{
    max-width: 70%;
    height: fit-content;
    margin: 40px auto 0 auto;
    font-family: 'roboto';
    border-radius: 20px;
    box-shadow: 0px 20px 30px rgb(0 0 0 / 50%);
}
h1{
    font-size: 45px;
}
.game{
    width: 100%;
    display: flex;
    position: relative;
}

.player1,.player2 {
    flex: 1;
    height: fit-content;
    text-align: center;
    padding: 5% 0;
}
.player1{
    background-color: #ffd152;
    border-radius: 20px 0 0 20px;
}
.player2{
    background-color: rgb(239 218 185);
    border-radius: 0 20px 20px 0;
}
.current span{
    display: block;
}
.current{
    margin: auto;
    margin-top: 30%;
    font-size: 25px;
    padding: 10px;
    width: 200px;
    text-align: center;
    background-color: #44504d;
    color: white;
    border-radius: 10px;
}

.main-score1 ,.main-score2{
    display: block;
    margin-top: 10%;
    font-size: 90px;
}
.center{
    width: 350px;
    height: 70vh;
    padding-top: 40px;
    position: absolute;
    top: 40px;
    left: 36.9%;
    text-align: center;
}

.dice{
    display: flex;
    margin: 70px auto 25px;
    padding: 0%;
    width: 210px;
}
.dice img{
    flex: 1;
    border-radius: 15px;
    width: 100px;
    height: 100px;
    margin: auto 5px;
}
.center div:nth-of-type(1){
    padding: 10px 25px;
    width: fit-content;
    font-family: 'roboto';
    font-size: 15px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    margin: auto;
}
.but-btn {
    margin-top: 90px;
}
.but-btn div{
    padding: 10px 25px;
    width: fit-content;
    font-family: 'roboto';
    font-size: 15px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    margin: 10px auto;
}
.center i{
    margin-right: 15px;
    font-size: 20px;
    color: #eb4d4d;
}
.center div:hover{
    cursor: pointer;
    box-shadow: 2px 2px 15px 3px #3432331f,2px 2px 15px 3px #3432331f;
}
.winner {
    text-align: center;
    font-size: 45px;
    font-family: 'roboto';
    color: white;
    /* text-shadow: 3px 3px 15px yellow; */
}

/* ***************************************************************************************************************
                                                  First Page : Rules
*************************************************************************************************************** */

.form{
    width: 70%;
    margin: auto;
    height: auto;
    padding-bottom: 40px;
    text-align: center;
    padding-top: 15px;
}
input{
    width: 70%;
    height: 45px;
    border: none;
    border-radius: 15px;
    margin: 10px;
    padding-left: 15px;
    font-size: 20px;
    outline: 0 !important;
}
input[type="submit"] {
    margin: auto;
    display: block;
    background-color: #ffd152;
    font-size: 20px;
    color: #343233;
    cursor: pointer;
}
input[type="submit"] :hover{
    background-color: #fdcb41;
    color: white;
}
ul{
    width: 80%;
    margin: auto;
    padding-top: 20px;
    list-style-type: circle;
    font-size: 15px;
    line-height: 1.3;
}
li{
    margin-bottom: 15px;
}
.container h3{
    font-size: 30px;
    text-align: center;
    margin: 0%;
    padding-top: 20px;
    font-family: 'roboto';
    
}
.bck-color{
    background-color: #554945;
    color: white;
    margin-top: 0%;
    height: 80vh;
    height: fit-content;
}
.back span{
    font-size: 24px;
}
.back{
    width: fit-content;
    padding: 10px;
    text-align: center;
    color: #343233;
    background-color: #ffd152;
    font-size: 20px;
    font-family: 'roboto';
    border-radius: 10px;
    outline: 0 !important;
    position: absolute;
    top: 40px;
    margin-left: 40px;
    cursor: pointer;
}
.back:hover{
    background-color: #fdcb41;
    box-shadow: 0 5px 7px rgb(0 0 0 / 50%);

}
.social{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 40px;
}
.social i{
    color: rgb(239 218 185);
    transform: scale(2);
    margin-bottom: 35px;
}
.social a{
    text-decoration: none;
}



  
 
